{
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "blocks": "./src/view/blocks",
          "components": "./src/view/components",
          "screens": "./src/view/screens"
        }
      }
    ]
  ],
  "presets": [
    "env",
    "react-native",
    "flow",
    "babel-preset-react-native-stage-0/decorator-support"
  ]
}