{
  "plugins": [
    "transform-react-jsx-source",
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "blocks": "./src/view/blocks",
        "components": "./src/view/components",
        "screens": "./src/view/screens",
        "ducks": "./src/ducks"
      }
    }]
  ],
  "presets": [
    "react-native",
    "babel-preset-react-native-stage-0/decorator-support"
  ]
}